Django==1.6.5
dj-database-url==0.3.0
dj-static==0.0.5
django-redis-cache==1.6.0
django-toolbelt==0.0.1
gunicorn==19.5.0
lxml==3.3.5
psycopg2==2.7.3.2
pystache==0.5.4
requests==2.3.0
static==1.0.2
suds==0.4
wsgiref==0.1.2
celery==3.1.0
redis==2.10.3
whitenoise==1.0.3
django-widget-tweaks==1.4.1