<!DOCTYPE html>
<html>
	<head>
		<title>Salesforce.com package.xml Builder</title>
		<meta name="keywords" content="salesforce, salesforce.com, force.com, package builder, packagebuilder, metadata, api, metadata api, package.xml, xml, destructivechanges.xml, descructivechanges, ide, force.com ide, eclipse, ant, force.com migration" /> 
  		<meta name="description" content="Easily create a package.xml file based on your Salesforce org components." />
  		<meta name="author" content="Ben Edwards (ben@benedwards.co.nz)" />
  		<meta charset="UTF-8" />

		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/styles.css" />
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css"/>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.tree.css"/>
		<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/vnd.microsoft.icon" />
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="https://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tree.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-34577586-2', 'tquila.com');
		  ga('send', 'pageview');
		</script>
		{% block scripts %}{% endblock %}
	</head>	
 
	<body>

		<div id="wrapper">

			<a href="http://www.tquila.com" class="logo" target="_blank">
				<img src="{{ STATIC_URL }}images/tquila-logo@1x.png" style="" border="0" />
			</a>

			<div class="contact">
				<a href="https://schemalister.herokuapp.com" target="_blank">Schema Lister</a>
				&nbsp;|&nbsp;
				<a href="https://twitter.com/benedwards44" target="_blank">@benedwards44</a>
				&nbsp;|&nbsp;
				<a href="https://twitter.com/sfdcJai" target="_blank">@sfdcJai</a>

			</div>

			<div class="clear"></div>

			<div id="container">
				{% block content %}{% endblock %}
			</div>

		</div>

	</body>

</html>