{% extends 'base.html' %}

{% block content %}

	<h1>Salesforce package.xml Builder</h1>

	<p>
		This tool uses the Salesforce Metadata API to build a package.xml file based on components in your Salesforce org. Handy for building a package.xml file for use with ANT Force.com Migration or other IDE tools, or building a destructiveChanges.xml file.
	</p>
	<p>
		Faster than having to download all the actual metadata in order to build your package.xml file.
	</p>
				
	<div class="loading-components">

		<div style="float:left;">
			<img src="{{ STATIC_URL }}images/loading.gif" alt="Loading" title="Loading" />
		</div>

		<div style="float:left;margin-left:20px;">
			<h1 style="font-size:1.5em;margin-top:20px;">Querying components...</h1>
			<p>This can take a few minutes.</p>
		</div>

	</div>

	<div role="alert" class="error alert alert-danger" style="display:none;">
		<p>
			There was an error processing your request: <i class="error_message"></i>
			<br/><br/>
			Please <a href="/">return</a> to the home page and try again.
		</p>
	</div>

	<script>
		var refreshId = window.setInterval(function () 
 		{
       		$.ajax({
			    url: '/job_status/{{ package.random_id }}',
			    type: 'get', //this is the default though, you don't actually need to always mention it
			    success: function(resp) 
			    {
			        if (resp.status == 'Finished')
			        {
			        	window.location = '/package/{{ package.random_id }}/';
			        } 
			        else if (resp.status == 'Error')
			        {
			        	$('.loading-components').hide();
			        	$('.error').show();
			        	$('.error_message').text(resp.error);
			        	clearInterval(refreshId);
			        }
			        // Else job is still running, this will re-run shortly.
			    },
			    failure: function(resp) 
			    { 
			        $('.loading-components').hide();
		        	$('.error').show();
		        	$('.error_message').text(resp);
		        	clearInterval(refreshId);
			    }
			});
    	}, 3000);
	</script>

{% endblock %}